h1.title {
  text-align: center;
}

.calculator {
  width: 900px;
  height: 500px;
}

.graded, .feedback {
  float: left;
}

.graded {
  margin-right: 235px;
}

.clearfix {
  clear:both;
}

.question-form {
  margin: 10px 0 0 20px;
}